/* Test Söhne Breit Font */
@font-face {
    font-family: "Test Söhne Breit";
    src: url('./TestSöhneBreit-Kräftig.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Photograph Signature";
    src: url('./Photograph-Signature.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* Helvetica Neue Font */
/* @font-face {
    font-family: 'Helvetica Neue', sans-serif;
    src: url('./HelveticaNeueCyr-Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
} */

.section {
    padding: 120px 0;
}

.section-pt {
    padding-top: 120px;
}

.section-pb {
    padding-bottom: 120px;
}

/*=========================================================================================
    Utility CSS End
 ==========================================================================================*/
/*=========================================================================================
    Typography CSS Start
 ==========================================================================================*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 20px;
    background: #F6F6F6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Test Söhne Breit", sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    transition: 0.3s ease all;
    -webkit-transition: 0.3s ease all;
    -moz-transition: 0.3s ease all;
    -ms-transition: 0.3s ease all;
    -o-transition: 0.3s ease all;
}

a:hover {
    cursor: pointer;
}

p {
    margin: 0;
    padding: 0;
}

ul,
ol,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

/*=========================================================================================
    Typography CSS End
 ==========================================================================================*/

/*=========================================================================================
    Body CSS Start
 ==========================================================================================*/
.header-top {
    background-color: #F050F8;
    color: #fff;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 20px 40px;
    border: 1px solid#BEBEBE;
}

.header-top .left-info {
    color: #FFF;
    font-family: "Test Söhne Breit";
    font-size: 24px;
    font-style: normal;
    text-align: start;
    font-weight: 500;
    line-height: 120%;
}

.header-top .right-info {
    color: #FFF;
    text-align: right;
    font-family: "Test Söhne Breit";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

.hero-logo-section {
    display: flex;
    align-items: center;
    gap: 12px;
    margin: 20px 0px;
    padding: 30px 60px;
    border: 1px solid #BEBEBE;
    background: #FFF;
}

.hero-logo-section-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-bottom: 80px;
}

.hero-logo-section .title,
.hero-logo-section-2 .title {
    color: #252525;
    font-family: "Test Söhne Breit";
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: 30px;
}

.np-hero {
    border: 1px solid #BEBEBE;
    background: #FFF;
    padding: 80px 0px;
    margin-bottom: 20px;
}

.hero-content-area .hero-title {
    color: #252525;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 32px;
    font-style: normal;
    text-align: center;
    font-weight: 500;
    line-height: 120%;
    padding: 20px 0px;
    margin: 0px 0px 40px 0px;
    border-radius: 4px;
    border: 1px solid #F050F8;
}

.hero-content-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    margin-bottom: 40px;
}

.hero-text {
    padding: 20px;
    max-width: 620px;
}

.hero-text h3 {
    color: #252525;
    font-family: "Test Söhne Breit";
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: 120%;
    margin-bottom: 20px;
}

.hero-text p {
    color: #666;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    line-height: 120%;
}

.hero-img {
    max-width: 412px;
    width: 100%;
}

.client-mssg-area {
    color: #666;
    font-family: 'Helvetica Neue', sans-serif;
    font-style: normal;
    line-height: 38px;
}

.client-mssg-area .dear-text {
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 30px;
}

.client-mssg-area .regular-text {
    font-size: 28px;
    font-weight: 300;
    margin-bottom: 16px;
}

.client-mssg-area .link-text {
    color: #F050F8 !important;
    font-weight: 500 !important;
}

.np-price-card {
    border: 1px solid #BEBEBE;
    background: #EBEAFC;
}












.np-card {
    border-radius: 16px;
    background: var(--Shades-White, #FFF);
    padding: 40px 24px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.np-card-header .logo-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 20px;
}

.np-logo {
    width: 28px;
    height: 28px;
}

.np-company-name {
    color: var(--Neutral-800, #191D23);
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.np-change-link {
    color: #F050F8;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: 5%;
    text-underline-offset: 25%;
    text-underline-position: from-font;
}

.np-price-section {
    display: flex;
    gap: 4px;
    align-items: center;
    margin-bottom: 24px;
}

.np-price-section .np-price {
    color: var(--Neutral-800, #191D23);
    font-family: "Test Söhne Breit";
    font-size: 44px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.np-per-month {
    color: #4B5768;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.np-apply-btn {
    padding: 8px 12px;
    border-radius: 4px;
    border: 1.5px solid #F050F8;
    color: #F050F8;
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 100%;
}

.np-apply-btn:hover {
    border: 1.5px solid #F050F8;
    color: #FFF;
    background: #F050F8;
    transition: all 0.3s ease;
}

.np-rate-box {
    border-radius: 4px;
    border: 1px solid #BEBEBE;
    padding: 20px;
}

.np-rate-row {
    display: inline-table;
    margin-bottom: 20px;
    width: 100%;
}

.np-rate-box {
    width: 100%;
    border-collapse: collapse;
}

.np-rate-row td:first-child {
    text-align: left;
    color: #000;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 80%;
}

.np-rate-row td:last-child {
    text-align: center;
    padding: 4px;
    border-radius: 4px;
    border: 1px solid #BEBEBE;
    background: #FAFAFA;
    color: #000;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.np-kpi-box {
    border-radius: 4px;
    border: 1px solid #BEBEBE;
    padding: 20px;
}

.np-kpi-header {
    color: #000;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    user-select: none;
    border-collapse: collapse;
}

.np-kpi-toggle-icon {
    font-size: 16px;
    transition: transform 0.3s ease;
}

a.collapsed .np-kpi-toggle-icon {
    transform: rotate(-90deg);
}

.np-kpi-table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #BEBEBE;
    background: #FAFAFA;
    margin-top: 20px;
    padding: 10px;
}

.np-kpi-table td {
    vertical-align: top;
    padding-bottom: 12px;
}

.np-kpi-label {
    color: #000;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 42%;
    white-space: wrap;
}

.np-kpi-value {
    color: #000;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.np-trust-section {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center;
    color: #000;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    margin: 20px 0px;
}

.np-trust-logo {
    width: 16px;
    height: 16px;
}

.np-certificate-link {
    display: block;
    text-align: center;
    color: #F050F8;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: 5%;
    /* 0.8px */
    text-underline-offset: 25%;
    /* 4px */
    text-underline-position: from-font;
}

.collapsed .np-kpi-toggle-icon {
    transform: rotate(-90deg);
    transition: transform 0.2s ease;
}

.video-section {
    border: 1px solid #BEBEBE;
    background: #FAFAFA;
    margin: 20px 0px;
}

.video-section .section-title {
    color: #C8C8C8;
    font-family: "Test Söhne Breit";
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    max-width: 930px;
    margin: 0 auto 60px auto;
}

.video-section .section-title span {
    color: #252525;
    font-weight: 700;
}

.video-box {
    max-width: 480px;
    max-height: 480px;
    margin-bottom: 20px;
}

.video-box iframe {
    border-radius: 20px;
    max-width: 480px;
    width: 100%;
    height: 410px;
}

.video-text h5 {
    color: #252525;
    font-family: "Test Söhne Breit";
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}

.video-text img {
    margin-bottom: 8px;
}

.video-text p {
    color: #666;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 120%;
}

.np-footer-section {
    background: #252525;
    color: #fff;
}

.np-footer-section h5 {
    color: #FFF;
    text-align: center;
    font-family: "Inter";
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 60px;
}

.np-footer-section p {
    color: #FFF;
    text-align: center;
    font-family: "Inter";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 16px;
}

.np-footer-section p .link {
    color: #F050F8 !important;
    font-family: "Inter";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

.footer-logo {
    max-width: 250px;
    margin: 60px auto 0 auto;
}


/* Email Template */
.email-card {
    width: 100%;
    max-width: 600px;
    background: #EBEAFC;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: 0 auto;
}

.main-content {
    padding: 50px 22px 18px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.main-content .left-section {
    flex: 1;
}

.main-content .left-section .name-box {
    position: relative;
    z-index: 99;
    display: flex;
    justify-content: center;
    margin-bottom: 26px;
}

.main-content .left-section .name {
    color: #F050F8;
    font-family: "Photograph Signature";
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    position: absolute;
    top: -15px;
    z-index: 9;
}

.job-title {
    display: inline-flex;
    padding: 20px 20px 10px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    flex-shrink: 0;
    border-radius: 92px;
    border-bottom: 0.5px solid #F050F8;
    background: #F8F8FF;
    color: #252525;
    font-family: "Test Söhne Breit";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    width: 234px;
}

.contact-item {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 8px;
}

.contact-icon,
.social-circle {
    flex-shrink: 0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    background: #F050F8;
}

.contact-icon .icon,
.social-circle .icon {
    color: white;
    font-size: 8px;
}

.contact-text {
    color: #252525;
    font-family: "Test Söhne Breit";
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
}

.right-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-content .hr-line {
    margin: 0px 20px;
    width: 1px;
    height: 122px;
    background: linear-gradient(180deg, rgba(240, 80, 248, 0) 0%, rgba(240, 80, 248, 0.8) 50%, rgba(240, 80, 248, 0) 100%);
}

.profile-circle {
    width: 60px;
    height: 60px;
    margin-bottom: 8px;
}

.company-text {
    color: #252525;
    text-align: center;
    font-family: "Test Söhne Breit";
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: 16px;
    margin-bottom: 20px;
}

.social-row {
    display: flex;
    gap: 8px;
}

.cta-banner {
    display: flex;
    padding: 12px 40px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    background: #F050F8;
}

.cta-text {
    color: #FFF;
    font-family: "Test Söhne Breit";
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: 120%;
}

.book-button {
    padding: 8px 20px;
    border-radius: 4px;
    background: #FFF;
    transition: all 0.2s ease;
    color: #F050F8;
    text-align: center;
    font-family: "Test Söhne Breit";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}

.book-button:hover {
    transform: translateY(-1px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}